<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- log output to file -->

	<!-- log output to console -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}
				[%file:%line] -
				%msg%n</pattern>
		</encoder>
	</appender>

	<!-- 时间滚动输出 任务执行 日志 -->
	<appender name="serviceLog"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY </onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>/letv/logs/woodpecker/server/serviceLog.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="serviceLog" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="serviceLog"/>
	</logger>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>